/* Estilo para el fondo de la página */
body {
    background-color: #f4f4f4; /* Fondo gris claro */
    margin: 0;
    padding: 0;

}

/* Estilo para el encabezado */
.header {
    background-color: #333; /* Fondo negro para el encabezado */
    color: #fff; /* Texto en color blanco */
    text-align: center;
    padding: 20px;
}

/* Estilo para el título */
.header h1 {
    font-size: 36px;
    margin: 0;
}

.header h2 {
    font-size: 20px;
    margin: 0;
}

.boton-volver {
    margin-right:auto; /* Empuja el botón hacia la izquierda */
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* estilos para los botones*/
.boton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boton img {
    width: 50px; /* Ajusta el ancho de las imágenes según tu preferencia */
    height: 50px; /* Ajusta la altura de las imágenes según tu preferencia */
}

.boton:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el ratón por encima del botón */
}






#quiz-container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

#next-button {
    margin-top: 20px;
    background-color: #007bff;
}

#next-button:hover {
    background-color: #0056b3;
}

#score {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.hide {
    display: none;
}
